body {
    background-color: #4b4555;
    color: #d3c8e0;
    font-family: Garamond, sans-serif;
}

hr {
    background-color: #938b9c;
    height: 1px;
    border: none;
}

a:link {
    color: rgb(132, 178, 221);
}

a:visited {
    color: #e4b8d7;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #bba7d1;
}